<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <% content_for :title, @list.name %>

  <% unless turbo_native_app? %>
    <h1 class="font-bold text-4xl flex-none"><%= @list.name %></h1>
  <% end %>

  <ul class="w-full divide-y divide-gray-200">
    <% @list.items.each do |item| %>
      <li class="flex h-14 items-center">
        <div class="flex-none">
          <%= item.name %> 
        </div>
        <div class="grow">
        </div>
        <div class="flex-none">
          <%= link_to "Edit", [:edit, item], class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
          <div class="inline-block ml-2">
            <%= button_to "Destroy", item, method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>
