<%= render "layouts/flash" %>

<% content_for :title, "Sign in" %>

<div class="mx-auto max-w-md mt-16">
  <h1 class="text-center text-blue-500 text-3xl font-bold mb-9">Login into Litensio</h1>

  <%= form_with url: session_url, class: "contents", data: { "turbo-action": "replace" } do |form| %>
    <div class="mb-5">
      <%= form.label :email_address, class: "text-gray-500 text-sm" %>
      <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "username", value: params[:email_address], class: "block shadow rounded border border-gray-400 outline-none px-3 py-2.5 mt-2 w-full" %>
    </div>
  
    <div class="my-5">
      <label for="password" class="text-gray-500 text-sm">Password</label>
      <%= form.password_field :password, required: true, autocomplete: "current-password", maxlength: 72, class: "block shadow rounded border border-gray-400 outline-none px-3 py-2.5 mt-2 w-full" %>
    </div>
  
    <%= form.submit "Sign in", id: "sign-in", class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium cursor-pointer w-full my-5" %>
  
    <div class="col-span-6 text-sm text-gray-700 underline flex items-center gap-4">
      <%= link_to "Forgot password?", new_password_path %>
      <%= link_to "No account?", new_registration_path %>
    </div>
  <% end %>
</div>
