<li class="flex h-14 items-center">
  <%= form_with model: item, data: { controller: "form" }, class: "pr-2 w-6" do |form| %>
    <%= form.check_box :checked, data: { action: "form#submitCheckbox" }, class: "border-gray-500 rounded" %>
    <div class="status hidden">
      <%= icon "spinner", class: "h-4 w-4" %>
    </div>
    <input type="hidden" name="no_flash" value=1 />
  <% end %>
  <div class="grow">
    <%= item.name %> 
  </div>
  <div class="flex-none flex space-x-1">
    <%= render "items/menu", item: item %>
  </div>
</li>
