<!DOCTYPE html>
<html>
  <head>
    <%= render "layouts/headers" %>
  </head>

  <body class="<%= turbo_native_app? ? "turbo-native" : "" %>">
    <% if authenticated? %>
      <%= render "layouts/navbar" %>
    <% end %>

    <%= turbo_frame_tag "modal" %>

    <main class="container mx-auto mt-2 px-5 flex">
      <div class="w-full h-full">
        <%= render "layouts/flash" %>

        <%= yield %>
      </div>
    </main>
  </body>
</html>
