<!DOCTYPE html>
<html>
  <head>
    <%= render "layouts/headers" %>
  </head>

  <body>
    <div class="min-h-screen flex flex-col">
      <% if !turbo_native_app? %>
        <%= render "layouts/homepage_navbar" %>
      <% end %>
      <main class="grow flex flex-col">
        <%= yield %>
      </main>
    </div>
    <footer class="w-full p-5 bg-black text-white space-x-4 items-center flex flex-col md:flex-row md:items-start">
      <%= contact_link class: "hover:text-blue-500" %>
      <%= link_to "Impresum", impresum_path, class: "hover:text-blue-500" %>
      <%= link_to "Privacy", privacy_path, class: "hover:text-blue-500" %>
      <%= link_to "Terms", terms_path, class: "hover:text-blue-500" %>
    </footer>
  </body>
</html>
